<div class="dialog-container">
    <h2 class="dialog-title">Add New Expense</h2>
    
    <form class="income-form">
      <!-- <mat-form-field appearance="outline" class="form-field">
        <mat-label>Expense Source</mat-label>
        <input matInput [(ngModel)]="expenseSource.category" name="category" placeholder="e.g., Food, Travelling">
        <mat-icon matPrefix>account_balance</mat-icon>
      </mat-form-field> -->
  
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Expense Amount</mat-label>
        <input matInput type="number" [(ngModel)]="expenseSource.amount" name="amount" placeholder="0.00">
        <mat-icon matPrefix>attach_money</mat-icon>
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="expenseSource.date" name="date">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Category</mat-label>
        <mat-select [(ngModel)]="expenseSource.category" name="category">
          <mat-option value="Food">Food</mat-option>
          <mat-option value="Travelling">Travelling</mat-option>
          <mat-option value="Entertainment">Entertainment</mat-option>
          <mat-option value="Groceries">Groceries</mat-option>
          <mat-option value="Shopping">Shopping</mat-option>
          <mat-option value="Fuel">Fuel</mat-option>
          <mat-option value="Bills & utilities">Bills & utilities</mat-option>
          <mat-option value="House Rent">House Rent</mat-option>
          <mat-option value="Emi and loans">Emi and loans</mat-option>
          <mat-option value="Personal Care">Personal Care</mat-option>
          <mat-option value="Miscellaneous">Miscellaneous</mat-option>
          <mat-option value="Other">Other</mat-option>
        </mat-select>
        <mat-icon matPrefix>category</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Description</mat-label>
        <input matInput [(ngModel)]="expenseSource.description" name="description">
        <!-- <mat-icon matPrefix>account_balance</mat-icon> -->
      </mat-form-field>
  
      <div class="recurring-checkbox">
        <mat-checkbox [(ngModel)]="expenseSource.recurring" name="recurring" color="primary">
          Recurring Expense
        </mat-checkbox>
      </div>
  
      <div class="dialog-actions">
        <button mat-stroked-button (click)="onCancel()">Cancel</button>
        <button mat-raised-button color="primary" (click)="onSave()">Save Expense</button>
      </div>
    </form>
  </div>