/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* Position to top-right */
.toast-top-right {
    top: 10px !important;
    right: 10px !important;
}
  