<div class="dialog-container">
    <!-- <h2 class="dialog-title">Add New Goal</h2> -->
    <h2 class="dialog-title">{{ dialogTitle }}</h2>
    
    <form class="income-form">
      <!-- <mat-form-field appearance="outline" class="form-field">
        <mat-label>Expense Source</mat-label>
        <input matInput [(ngModel)]="expenseSource.category" name="category" placeholder="e.g., Food, Travelling">
        <mat-icon matPrefix>account_balance</mat-icon>
      </mat-form-field> -->
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Goal Name</mat-label>
        <input matInput [(ngModel)]="goalSource.goalName" name="goalName">
        <!-- <mat-icon matPrefix>account_balance</mat-icon> -->
      </mat-form-field>
  
      <!-- <mat-form-field appearance="outline" class="form-field">
        <mat-label>Current Amount</mat-label>
        <input matInput type="number" [(ngModel)]="goalSource.currentAmount" name="currentAmount" placeholder="0.00">
        <mat-icon matPrefix>attach_money</mat-icon>
      </mat-form-field> -->
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Current Amount</mat-label>
        <span matPrefix class="currency-prefix">₹</span>
        <input matInput type="number" [(ngModel)]="goalSource.currentAmount" name="currentAmount" placeholder="0.00">
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Target Amount</mat-label>
        <span matPrefix class="currency-prefix">₹</span>
        <input matInput type="number" [(ngModel)]="goalSource.targetAmount" name="targetAmount" placeholder="0.00">
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Deadline</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="goalSource.deadLine" name="deadLine">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      
  
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Category</mat-label>
        <mat-select [(ngModel)]="goalSource.category" name="category">
          <mat-option value="Education">Education</mat-option>
          <mat-option value="Savings">Savings</mat-option>
          <mat-option value="Investments">Investments</mat-option>
          <mat-option value="Vehicle">Vehicle</mat-option>
          <mat-option value="Health">Health</mat-option>
          <mat-option value="Home">Home</mat-option>
          <mat-option value="Other">Other</mat-option>
        </mat-select>
        <mat-icon matPrefix>category</mat-icon>
      </mat-form-field>

      <!-- <mat-form-field appearance="outline" class="form-field">
        <mat-label>Description</mat-label>
        <input matInput [(ngModel)]="expenseSource.description" name="description">
        <mat-icon matPrefix>account_balance</mat-icon>
      </mat-form-field> -->
  
      <!-- <div class="recurring-checkbox">
        <mat-checkbox [(ngModel)]="expenseSource.recurring" name="recurring" color="primary">
          Recurring Expense
        </mat-checkbox>
      </div> -->
      
      <div class="dialog-actions">
        <button mat-stroked-button (click)="onCancel()">Cancel</button>
        <button mat-raised-button color="primary" (click)="onSave()">Save Goal</button>
      </div>
    </form>
  </div>